*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    background-color: #3AAFA9;
}
.card-container{
    display: flex;
    flex-wrap: wrap;         
    justify-content: center;  
    gap: 10px;                
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color:#17252A;
    color: white;
    
    
}
.nav-bar img {
    height: 65px;
    width: 65px;
    margin-left:20px;
}
.nav-bar h1{
    font-size: 24px;
    margin-right:20px;
    font-weight: bold;
    font-style: italic;
    color: #feffff;
}
    

.team-card img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    margin-top:50px;
    border:2px solid black;
}
.team-card{
    width:260px;
    height:400px;
    background: #2b7a78;
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top:30px;
    box-sizing:border-box;
    flex: 0 0 calc(25% - 16px);
    
}
.description {
    opacity: 0; 
    max-height: 0; 
    overflow: hidden; 
    margin: 0; 
    transition: all 0.5s ease;}
    
.team-card:hover .description { opacity: 1; max-height: 100px; margin-top: 15px; }

.collide-all{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.team-card h2{
    margin-top:15px;
    font-size: 20px;
    color:white;
}
.team-card .role{
    margin-top:3px;
    font-style:italic;
    font-size: 15px;
    color:white;
    font-weight:bold;
}
.team-card .description{
    margin-top:20px;
    font-size: 15px;
    text-align:center;
    padding:0 20px;
    color:white;
}
@media (max-width: 800px) {
  .team-card { flex: 0 0 calc(50% - 16px); }
}
.team-card.highlight {
  background: #def2f1; 
  border: 2px solid #e0e0e0; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  border-radius:10px;
  margin-top:30px;
  box-sizing:border-box;
  flex: 0 0 calc(25% - 16px);
  min-width: 200px;
}

.team-card.highlight h2,
.team-card.highlight .role,
.team-card.highlight .description {
  color: #000; 
}

.logo {
    justify-content: space-between;
    display: flex;
    align-items: center;
    
}
.team-card.separate {
 display: flex;
 margin-left: 10px;
 margin-top:60px;
 background: #def2f1;
 width: 300px;
}
.team-card.separate h2,
.team-card.separate .role,
.team-card.separate .description {
  color: #000; 
}





